#watts {
	font-size: 100px;
	text-align: center;
	color: green;
}
.device-btn{
	height: 100px;
	color: green;
	background-color: lightgray;
}
.row{
	margin-bottom: 5px;
}
#question{
	font-size: 35px;
	text-align: center;
	color: green;
}
body{
	background-color: black;
}