body {
  text-align: center;
}
.device-btn{
	height: 120px;
  margin: 20px 0;
}
#question{
	text-align: center;
  font-size: 30px;
  position: relative;
  top: 50px;
}
#question.text-success{
  top: 0;
}
button > i {
  margin-top: 8px;
  font-size: 24px;
}
.page {
  padding: 50px 0;
  display: none;
}
#watt-container{
  text-align: center;
}
#watts{
  font-size: 100px;
}
#start-btn, #continue-btn {
  margin-top: 100px;
  margin-bottom: 50px;
}
#buttons-container {
  height: 200px;
}
